body{
    background: url("https://thumbs.dreamstime.com/b/cappuccino-coffee-milk-black-wooden-background-top-view-free-copy-space-151190038.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.coffee{
    padding: 100px;
    bottom: 500px;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    height: 80%;
}
.menu{
    width: 70%;
    height: 10%;
}
.table{
    margin-left: 200px;
} 
.aa{
    position: relative;
    left: -300px;
}
.bb{
    position: relative;
    left: -300px; 
}
